/*CSS Reset and General CSS*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 32px;
  line-height: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
  font-size: 30px;
  line-height: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}
h4 {
  font-size: 30px;
  line-height: 45px;
}
h5 {
  font-size: 30px;
  line-height: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h6 {
  font-size: 30px;
  line-height: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
strong {
  font-weight: bold;
}
a[href^="tel"]{
    color: inherit;
}
/*--End CSS Reset and General CSS--*/
/*Header & Nav*/
.headerOuter {
  position: fixed;
  width: 100%;
  height: 64px;
  background: #fff;
  top: 0;
}
header {
  overflow: hidden;
  padding: 10px 30px;
}
.logo {
  float: left;
  margin-right: 20px;
  width: 140px;
}
header ul li a {
  display: block;
  padding: 10px;
  color: #242424;
  text-decoration: none;
  line-height: 20px;
  font-size: 17px;
}
header a, header label, .utilNav a i {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
header a:hover, header label:hover, .utilNav a i:hover {
  color: #aaa;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
header label {
  float: left;
  padding: 7px 15px;
  cursor: pointer;
  display: none;
  border-top: 3px solid #777;
  margin-top: 10px;
}
header label:before {
  content: "";
  font-size: 1.8em;
  position: absolute;
  background: #777;
  height: 3px;
  width: 30px;
  margin-left: -15px;
  margin-top: 6px;
}
header label:after {
  content: "";
  font-size: 1.8em;
  position: absolute;
  background: #777;
  height: 3px;
  width: 30px;
  margin-left: -15px;
  margin-top: -2px;
}
nav {
  width: auto;
  max-height: none;
}
nav ul {
  padding: 0;
  padding-right: 10px;
}
nav li {
  display: inline-block;
  text-align: left;
}
.utilNav {
  float: right;
  padding: 10px 0;
}
.utilNav a {
  color: #242424;
  text-decoration: none;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}
.utilNav a i {
  color: #888;
}
.utilNav a i:hover {
  color: #000 !important;
}
.utilNav a:last-child {
  border-right: none;
}
#navToggle {
  display: none;
}
/*--End Header & Nav--*/
/*Hero Block*/
.hero {
  background: url('../img/01_Hero.jpg');
  height: 675px;
  margin-top: 64px;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroTxtBox {
  float: right;
  width: auto;
  min-width: 450px;
  margin-top: 395px;
  right: 0;
  margin-right: 80px;
  padding: 35px 55px 15px 35px;
  background-color: rgba(255,255,255,.85);
}
.heroTxtBox p {
  margin-bottom: 24px;
  color: #555;
}
.greenButton {
  display: inline-block;
  width: auto;
  min-width: 170px;
  padding: 12px 32px;
  border-radius: 25px;
  background-color: #00857d;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0 0 35px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.greenButton:hover {
  background: #016862;
}
/*--End Hero Block--*/
/*Benefits Block*/
.benefitsWrap {
  background: #f9f9f9;
  width: 100%;
}
.benefits {
  padding: 70px 30px;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  float: left;
  width: 100%;
  background: #f9f9f9;
}
.benefits h2 {
  text-align: center;
  margin-bottom: 70px;
}
.benefits img {
  height: 55px;
}
.col1_3 {
  width: 33.333%;
  float: left;
}
.benefits h3 {
  width: 175px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.benefits p {
  font-size: 17px;
  color: #888;
  line-height: 24px;
  font-weight: 300;
  width: 180px;
  margin: 0 auto;
}
/*--End Benefits Block--*/
/*Text Break Block*/
.txtBreak {
  padding: 70px 20px;
  text-align: center;
  clear: both;
  background: #ededed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: 3px solid #fff;
}
.txtBreak h4 {
  color: #242424;
}
/*--End Text Break Block--*/
/*What To Expect Block*/
.expectBlock {
  background: url('../img/02_what-to-expect_banner.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.expectTxt {
  max-width: 500px;
  padding: 125px 75px 25px 75px;
  background-color: rgba(255,255,255,.85);
  color: #4a4a4a;
  margin-left: 60px;
}
.expectTxt h5 {
  padding-bottom: 70px;
}
.expectTxt p {
  font-size: 22px;
  line-height: 34px;
  padding-bottom: 60px;
  max-width: 280px;
}
.expectTxt p a {
  color: #4a4a4a;
  font-weight: 700;
  display: inline-block;
}
.expectTxt p.disclaimer {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 20px;
  max-width: 215px;
}
/*--End What To Expect Block--*/
/*CTA Block*/
.ctaBlock {
  padding: 30px 20px;
}
.ctaBlock h2 {
  text-align: center;
}
.ctaBlock .greenButton {
  min-width: 260px;
  display: inline-block;
  height: 48px;
  line-height: 24px;
  margin-bottom: 0;
  font-size: 18px;
  margin-left: 40px;
}
/*--CTA Block--*/
/*Resources Block*/
.resources {
  text-align: center;
  background: #ededed;
  padding: 40px 20px 50px 20px;
  color: #333;
}
.resources h6 {
  margin-bottom: 20px;
}
.resources p {
  font-size: 22px;
  line-height: 34px;
  max-width: 527px;
  margin: 0 auto;
}
/*--End Resources Block--*/
/*Footer*/
footer {
  float: left;
  width: 100%;
  padding: 20px 20px 15px 20px;
  border-top: 3px solid #fff;
  background: #ededed;
}
.langSelect {
  float: right;
  background: #e3e3e3;
  color: #555;
  padding: 15px 10px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.langSelect img {
  float: left;
  margin-right: 15px;
  margin-top: -3px;
  width: 25px;
}
.langSelect span {
  font-size: 15px;
  margin-right: 25px;
}
.langSelect i {
    color: #9b9b9b;
    font-size: 18px;
}
.langSelect:hover {
  background: #999;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.langSelect:hover img {
  filter: grayscale(100%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.langSelect:hover i {
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footerNav ul li {
  display: inline-block;
  padding: 20px 0;
}
.footerNav ul li a {
  text-decoration: none;
  color: #242424;
  font-size: 18px;
  padding: 0 18px;
  border-right: 1px solid #cbcbcb;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.footerNav ul li:first-child a {
  padding-left: 8px;
}
.footerNav ul li:last-child a {
  border: none;
}
.footerNav ul li a:hover {
  color: #aaa;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.social {
  padding-left: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.social span {
  font-size: 14px;
  font-weight: 600;
  color: #777;
  padding-right: 20px;
}
.social i {
  color: #fff;
  border-radius: 50px;
  font-size: 17px;
  line-height: 29px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.social i.fa-linkedin {
  background: #0077b4;
}
.social i.fa-twitter {
  background: #56adf0;
}
.social i.fa-facebook {
  background: #3b5999;
}
.social i.fa-google-plus {
  background: #dd4f41;
}
.social i.fa-youtube-play {
  background: #ce2021;
}
.social i:hover {
  background: #ccc;
  color: #000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footerUtil {
  float: right;
}
.footerUtil ul li {
  display: inline-block;
  line-height: 22px;
}
.footerUtil ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  padding: 0 8px 0 5px;
  border-right: 1px solid #999999;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.footerUtil ul li:last-child a {
  border: none;
}
.footerUtil ul li a:hover {
  color: #000;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.copy {
  font-size: 12px;
  color: #999999;
  padding-left: 8px;
  line-height: 26px;
  display: inline-block;
}
/*End Footer*/

/***Responsive CSS**/
@media only screen and (max-width: 1000px) {

/*General CSS*/
  h1, h2 {
    font-size: 24px;
    line-height: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  h4 {
    font-size: 26px;
    line-height: 42px;
  }
  h5 {
    font-size: 22px;
    line-height: 30px;
  }
/*--End General CSS--*/
/*Header & Nav*/
  header {
    text-align: center;
    padding: 10px;
  }
  header label {
    display: block;
  }
  .logo {
    float: none;
    margin-right: 0;
    margin-left: 15px;
  }
  .logo img {
    width: 130px;
    margin-top: 3px;
  }
  nav {
    max-height: 0;
    background: rgba(255,255,255, .9);
    width: calc(50% + 10px);
    margin-left: -10px;
    -webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
  }
  nav ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  nav li {
    display: block;
    text-align: center;
  }
  nav li a {
    width: 100%;
    padding-bottom: 16px !important;
    text-align: left;
    padding-left: 20px !important;
  }
  #navToggle:checked ~ nav {
    max-height: 500px;
  }
  .utilNav a {
    display: none;
  }
  .utilNav a:last-child {
    display: block;
    color: #777;
    font-weight: 500;
    padding: 0;
  }
/*--End Header & Nav--*/
/*Hero Block*/
  .hero {
    height: 475px;
  }
  .heroTxtBox {
    margin-top: 220px;
    margin-right: 60px;
  }
  .greenButton {
    min-width: 200px;
  }
/*--End Hero Block--*/
/*Benefits Block*/
  .benefits {
    padding: 40px 30px 40px 30px;
  }
  .benefits h2 {
    margin-bottom: 50px;
  }
  .benefits img {
    height: 35px;
  }
/*--End Benefits Block--*/
/*Text Break Block*/
  .txtBreak  {
    padding: 40px 20px;
  }
  .txtBreak  h4 {
    display: inline;
    margin-right: 3px;
    font-size: 21px;
    line-height: 31px;
  }
/*--End Text Break Block--*/
/*What To Expect Block*/
  .expectBlock {
    background-size: 1000px;
    background-position: right top;
  }
  .expectTxt {
    padding: 35px 75px 25px 75px;
  }
  .expectTxt h5 {
    padding-bottom: 20px;
    max-width: 265px;
  }
  .expectTxt p {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 20px;
    max-width: 270px;
  }
/*--End What To Expect Block--*/
/*Resources Block*/
  .resources h6 {
    font-size: 22px;
    line-height: 26px;
  }
  .resources p {
    font-size: 18px;
    line-height: 28px;
    max-width: 430px;
  }
/*--End Resources Block--*/
/*Footer*/
  .footerNav ul li a {
    padding: 0 8px;
    font-size: 15px;
  }
  .footerUtil {
    float: none;
  }
/*--Footer--*/

}

@media only screen and (max-width: 640px) {

/*Hero Block*/
  .hero {
    height: 240px;
  }
  .heroTxtBox {
    margin: 0;
    float: left;
    width: 100%;
    margin-top: 240px;
    text-align: center;
    min-width: 0;
    padding: 35px 20px 15px 20px;
  }
  .heroTxtBox p {
    width: 245px;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
/*--End Hero Block--*/
/*Benefits Block*/
  .benefits {
    padding: 40px 30px 10px 30px;
  }
  .col1_3 {
    width: 100%;
    padding-bottom: 40px;
  }
/*--End Benefits Block--*/
/*What To Expect Block*/
  .expectBlock {
    background: url('../img/04_mWeb_bg_image@2x.jpg') no-repeat;
    background-size: 100%;
    border-top: 3px solid #fff;
  }
  .expectTxt {
    margin-left: 0;
    background: transparent;
    padding: 35px 85px 10px 25px;
  }
/*--End What To Expect Block--*/
/*CTA Block*/
  .ctaBlock .greenButton {
    max-width: 230px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    min-width: 0;
  }
/*--CTA Block--*/
/*Footer*/
  footer {
    padding: 0;
    text-align: center;
  }
  .langSelect {
    margin-right: 0;
    padding: 10px;
  }
  .footerNav ul {
    clear: both;
    text-align: center;
  }
  .social {
    margin-top: 20px;
    padding-left: 0;
  }
  .social span {
    display: none;
  }
  .social a:last-child i {
    margin-right: 0;
  }
  .footerUtil {
    padding: 0 10px;
  }
  .copy {
    padding-bottom: 20px;
    padding-left: 0;
  }
/*--End Footer--*/

}
